<nav>
  <ul class="nav nav-tabs">
    <li><a href="/movies/<%= userId %>/alphabetical_columns">Alphabetical-Columns</a></li>
    <li><a href="/movies/<%= userId %>/chronological_columns">Chronological-Columns</a></li>
    <li><a href="/movies/<%= userId %>/alphabetical">Alphabetical-List</a></li>
    <li><a href="/movies/<%= userId %>/release_date">Chronological-List</a></li>
    <li><a href="/users/<%= userId %>">NEW</a></li>
    <li><a class="logout" href="/logout">Logout</a></li>
  </ul>
</nav>
