<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- PROJECT CSS    -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul class="nav nav-tabs">
          <li><a href="/movies/<%= userId %>/alphabetical_columns">Alphabetical-Columns</a></li>
          <li><a href="/movies/<%= userId %>/chronological_columns">Chronological-Columns</a></li>
          <li><a href="/movies/<%= userId %>/alphabetical">Alphabetical-List</a></li>
          <li><a href="/movies/<%= userId %>/release_date">Chronological-List</a></li>
          <li><a href="/users/<%= userId %>">NEW</a></li>
        </ul>
      </nav>


      <h1>MOVIES - Chronological</h1>
      <% movies.forEach(function(movie) { %>
        <h3><a href="/movies/<%= userId %>/<%= movie.id %>"><%= movie.Title %></a></h3>
      <% }) %>
    </div>
  </body>
</html>
