<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Catalog App</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- PROJECT CSS    -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JQUERY CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- PROJECT JS -->
    <script type="text/javascript" src="/js/updateMoviePage.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- NAV BAR -->
      <%- include ../partials/navigation.ejs %>
      <!-- MAIN CONTENT -->
      <h1><%= movie.Title %></h1>
      <h4><%= movie.Year %></h4>
      <div class="row">
        <div class="col-sm-6">
          <img src="<%= movie.Poster %>"/>
        </div> <!-- end col -->
        <div class="col-sm-6">
          <h4>Directed by: <%= movie.Director %></h4>
          <h5>Written by: <%= movie.Writer %></h5>
          <p><%= movie.Plot %></p>
          <hr>
          <!-- MOVIE RATING SECTION -->
          <%- include ../partials/movie-rating.ejs %>
          <hr>
          <!-- MOVIES DATES WATCHED SECTION -->
          <%- include ../partials/movie-dates-watched.ejs %>
          <hr>
          <!-- MOVIE REVIEWS SECTION -->
          <%- include ../partials/movie-reviews.ejs %>
          <hr>
          <small><a href="/movies/alphabetical_columns">See your movies</a></small>
          <hr>
          <form action="/movies/<%= movie.id %>?_method=DELETE" method="POST">
            <input type="image" src="http://www.magturf.com/media/icons/nav/trash-can.png" onclick="return confirm('Are you sure?')"/>
          </form>
        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </body>
</html>
