<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Catalog App</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- PROJECT CSS    -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JQUERY CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- PROJECT JS -->
    <script type="text/javascript" src="/js/updateMoviePage.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- include ejs template for nav nav bar-->
      <%- include ../partials/navigation.ejs %>

      <div>
        <h1><%= movie.Title %></h1>
        <h4><%= movie.Year %></h4>
        <div class="row">
          <div class="col-sm-6">
            <img src="<%= movie.Poster %>"/>
          </div> <!-- end col -->
          <div class="col-sm-6">
            <h4>Directed by: <%= movie.Director %></h4>
            <h5>Written by: <%= movie.Writer %></h5>
            <p><%= movie.Plot %></p>
            <hr>
            <h5>Your rating:
              <% for (var i=0; i < movie.Rating; i ++) { %>
                <span class="star">&#x2B50;</span>
              <% } %>
            </h5>
            <form action="/movies/<%= movie.id %>/update_rating" method="POST">
              <select class="form-control ratings-select" name="Rating" onchange="this.form.submit();">
                <% for (var i=0; i <= 5; i++) { %>
                  <% if (movie.Rating == 0 && i == 0) { %>
                    <option value="<%= i %>">none</option>
                  <% } else if (movie.Rating == i) { %>
                    <option value="<%= i %>" selected><%= i %></option>
                  <% } else { %>
                    <option value="<%= i %>"><%= i %></option>
                  <% } %>
                <% } %>
              </select>
            </form>
            <p></p>
            <hr>
            <div id="dates-container">
              <h5>Dates watched:
                <% if (movie.DatesWatched.length == 0) { %>
                  <span>Add a date</span>
                <% } %>
              </h5>
              <% movie.DatesWatched.forEach(function(date) { %>
                  <span class="label label-info lb-lg"><%= date.dateString %></span>
              <% }); %>
              <form action="/movies/<%= movie.id %>/update_date" method="POST">
                <input id="date-input" type="date" name="newDate"/>
                <button id="add-date-button" type="submit" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
              </form>
            </div> <!-- end dates container -->
            <hr>
            <div id="reviews-container">
              <h5>Your reviews:
                <button id="add-review-button" type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
              </h5>
              <%= movie.Reviews %>
            </div> <!-- end reviews container -->
            <hr>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div>
    </div> <!-- end container -->
  </body>
</html>
